h1{
	font-size: 30px;
	color: purple;
	font-family: Exile;
}

h2{
	font-size: 30px;
	color: orange;
	font-family: Exile;
}

h3{
	font-size: 30px;
	color: pink;
	font-family: "BPG Nino Mtavruli", sans-serif;

}